/* Estilos Globais */
body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fff;
}

/* Estilos para o telalogin.html */
#login, #EsqueciSenha {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
    margin: 0 auto;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: -17px auto 0;
}

.card-content label {
    color: #fff;
    font-size: 12px;
}

/* Estilos para o menu principal e outras páginas */
.menu_lateral {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(253, 193, 128);
    padding-top: 20px;
}

.menu_lateral a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.menu_lateral a:hover {
    background-color: rgb(247, 148, 30);
}

.content {
    margin-left: 200px;
    padding: 20px;
}

.cabecalho {
    background-color: rgb(0, 74, 141);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cabecalho h1 {
    margin: 0;
}

/* Estilos específicos para emespera.html */
.container {
    padding: 20px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
    margin: 0;
}

/* Estilos específicos para ematendimento.html */
.chat-wrapper {
    width: 400px;
    margin: 20px auto;
}

.chat-container {
    height: 300px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 5px;
}

.message {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    background-color: #d2e8f5;
}

.chat-input {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px
}

/* Estilos específicos para finalizados.html */
.container {
    padding: 20px;
}

.history-form {
    margin-top: 20px;
}

.history-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius:  5px;
}

.history-form input[type="submit"],
.history-form input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer
    margin-right: 10px;
}

.history-form input[type="submit"] {
    background-color: dodgerblue;
    color: white;
}

.history-form input[type="reset"]{
    background-color: f44336;
    color: white;
}